* 
{ margin:0;
  padding:0;
  border:0;
   
}


body {
    font-family: arial;
    background-color: black;
    color:white;
}


.menu {
    background: linear-gradient(to top, rgb(59, 59, 59), rgb(255, 255, 255));
    top:0;
    padding-top: 15px;
    height:75px;
    align-items:center;
    
}

.menu li {
    float:left;
    list-style-type:none;
    font-size: 130%;
    margin: 5px 3px 0px 3px;
    border-width: 3px;
    border-style: groove;
    border-color: rgba(226, 226, 226, 0.842);
    padding:5px 15px; 
    background: linear-gradient(to top, rgb(145, 145, 145),rgb(236, 236, 236));
    box-shadow: -5px 3px 5px #444;
}


.menu li:hover {
  background: rgb(133, 133, 133);
  box-shadow: inset -5px 3px 5px #444;
}
 

.menu h2 {
  font-style: Arial,Verdana,sans-serif;
  color: rgb(85, 85, 85);
  text-shadow: 0px 2px 0px #dfdfdfcb;
}

.menu li:hover>h2 {
  color: rgb(46, 46, 46);
  text-shadow: 0px 2px 0px #9b9b9b;
}

.title-block {
  width:auto;
  margin:auto;
  margin-top:40px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2vw;
  font-style: italic;
}

.title-block>img {
  width:25%;
  height: auto;
}
#intro {
    position:relative;
    width:100%;
    height: 1000px;
    text-align: center;
}

.fill-div-intro  {
  display: inline-block;
  height: 100px;
  width: 30%;
  text-decoration: none;
  vertical-align: top;
}

.main-head {
  position: relative;
  /* display:inline-block; */
  width:100%;
  height:100%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  text-decoration: none;
  color: white;
    
   
}

.main-head h2 {
  text-align:center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.main-head img {
  position: absolute;
  width: 25%;
  height: auto;
  z-index: -1;
  left:50%;
  transform: translate(-50%,0%);
}

.main-head .overlay-flare {
  z-index: 1;
}  

/* .overlay-flare { */



.fill-div-intro:hover {
  background: rgb(255, 253, 253);
  
}
.fill-div-intro:hover>.main-head {
  color:black;
  }

.overlay-flare {
  position:relative;
  opacity: 0%;
  margin-top: -3px;
  z-index: 1;
   
   
 }

 .fill-div-intro:hover>.main-head>.overlay-flare { 
  opacity:100%;
  transition-property: opacity;
  transition-duration: 0.1s;
  
}


.intro_image {
 position: absolute;
  display: block;
  margin-top:50px;
  height:1000px;
  left:50%;
  transform: translate(-50%,0%);
}
/* #portrait {
  z-index: -1;

} */
.overlay-image  {
  opacity: 0%;
  z-index: 0;
  }




a[href="history.html"]:hover~#decemberists  {
  opacity:100%;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-inExpo;
}
a[href="works.html"]:hover~#crime_punishment  {
  opacity:100%;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-inExpo;
}


/* Timeline Page Css */

#timeline-heading {
  position:absolute;
  width: 100%;

}

#left-hand-timeline {
  position: relative;
  display: inline-block;
  width:40%;
  height: 2000px;
  border:3px solid pink;
  margin-left: 2%;
  vertical-align:top;
}

#center-timeline {
  display: inline-block;
  width:15%;
  height: 2000px;
  border:3px solid pink;
}

#right-hand-timeline {
  display: inline-block;
  width:40%;
  height: 2000px;
  border:3px solid pink;
  vertical-align:top;
}
.title-box {
  
  width:90%;
  border-width:0px 0px 3px 0px;
  border-style:solid;
  border-color:pink;
  padding:10px 5%;
  font-size:20px;
  text-align:center;
}

.number-box {
  position: relative;
  height: 25px;

}

.five-numbers {
  position: absolute;
  display: inline-block;
  margin:auto;
  left:30%;
  width: 40%;
  font-size: 20px;
  text-align: center;
}

.left-hash {
  position: absolute;
  display: inline-block;
  margin-left: -20%;
  margin-top: 10px;
  width:45%;
  height:5px;
  background-color: aquamarine;
  vertical-align: middle;
}

.right-hash {
  position: absolute;
  margin-left: 75%;
  margin-top: 10px;
  display: inline-block;
  width:45%;
  height:5px;
  background-color: aquamarine;
  vertical-align: middle;
} 

.year-mark {
  position: relative;
  height:25px;
}
.left-scratch {
  position: absolute;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: aquamarine;
  display: inline-block;
  top:0px;
  right:50%;
  width: 30%;
  height:12.5px;
  

}

.right-scratch {
  position: absolute;
  border-width: 0px 0px 2px 2px;
  border-style: solid;
  border-color: aquamarine;
  display: inline-block;
  top:0px;
  left:50%;
  width: 30%;
  height:12.5px;
}

.left-scratch-bottom {
  position: absolute;
  border-width: 2px 2px 0px 0px;
  border-style: solid;
  border-color: aquamarine;
  display: inline-block;
  top:12.5px;
  right:50%;
  width: 30%;
  height:12.5px;
  
}

.right-scratch-bottom {
  position: absolute;
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: aquamarine;
  display: inline-block;
  top:12.5px;
  left:50%;
  width: 30%;
  height:12.5px;
}

.fill-div-timeline {
  position: relative;
  display: block;
  height:80px;
  width:80%;
  margin-top: 20px;
  z-index: 0;
   
  transition: all 0.3s ease-out;
}

.timeline-right {
  left:5%;
  background-color: gold;
}

.timeline-left {
  left: 15%;
  background-color: green;
}

.russia-event {
  position: absolute;
  width:100%;
  height:100%;

  /* background-color: cadetblue; */
  border-width: 10px 5px 0px 0px;
  border-color: silver;
  border-style: groove;
  border-radius: 5px 20px 20px 0px;
 
  
  overflow: visible;
}

.dos-event {
  position: absolute;
  width:100%;
  height:100%;

  /* background-color: cadetblue; */
  border-width: 10px 0px 0px 5px;
  border-color: silver;
  border-style: groove;
  border-radius: 20px 5px 0px 20px;
  
  
  overflow: visible;
}

.russia-info-fill {
  position: absolute;
  width:80%;
  background-color: red;
  height:100%;
  right:0%;
  border-radius: 5px 20px 20px 0px;
  z-index: -2;
}

.dos-info-fill {
  position: absolute;
  width:80%;
  background-color: red;
  height:100%;
  left:0%;
  border-radius: 20px 5px 0px 20px;
  z-index: -2;
}

.timeline-pictures {
  position:absolute;
  height:100%;
  width:auto;
  z-index: -1;
  overflow: hidden;
  
}

.russia-event .timeline-pictures {
  right:0;
  border-radius: 0px 10px 15px 0px;
}

.dos-event .timeline-pictures {
  left:0;
  border-radius: 10px 0px 0px 15px;
}


.fill-div-timeline:hover  {
  background-color: white;
  transform: scale(1.1);
}

.overlay1 {position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:1;
}

.overlay1:target {
  visibility: visible;
  opacity: 1;
}

.pop-up {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  /* transition: all 0.2s ease-in-out; */
  z-index: 2;
}

.pop-up h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.pop-up .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.pop-up .close:hover {
  color: #06D85F;
}

