body {
    font-family: arial;
    color: white;
    background-color: black;
}


#menu {
    background-color: #e62e00c4;
    font-size: 130%;
    min-height:3rem;
    align-items:center;
    
}

#menu li {
    float:left;
    list-style-type:none;
    
    border-style: solid;
    
}

#intro {
    position:relative;
    width:100%;
    height:1000px;
}

#intro h2 {
    text-decoration:underline;
    text-align:center;
}

#intro div {
    display:inline-block;
    width:33%;
    height:100px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#intro #portrait {
  width:100%;
  height:auto;
  z-index: -5;
  top:150px;
}

#intro #decemberists {
  width:100%;
  height:auto;
  z-index: 1;
  position:absolute;
  left:0;
  top:150px;
  opacity: 0%;
}

div a:hover {
  background: #eee;
}

#intro a:hover ~ #decemberists {
  opacity:100%;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-inExpo;
}